h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 5em;
}

body {
    background-image: url("./images/Texture-Wood-Grain.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Fugaz One', cursive;
    text-align: center;
}

h2 {
    font-size: 3em;
    margin-bottom: 0;
}

#city-name {
    width: 600px;
    height: 60px;
    font-size: 25px;
}

#fetch-btn {
    width: 200px;
    height: 60px;
    font-family: 'Fugaz One', cursive;
    background-color: black;
    color: white;
    font-size: 35px;
}